.logo img {
  width: 100px;
  margin: 25px 0 0 38px; }
  @media screen and (max-width: 768px) {
    .logo img {
      width: 20%;
      margin: 12px 0 0 12px; } }

.menu-btn {
  background: #fff;
  padding: 5px;
  position: fixed;
  z-index: 3;
  right: 38px;
  top: 25px;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .menu-btn {
      right: 10px !important;
      top: 10px !important; } }
  .menu-btn img {
    transition: transform 0.4s; }
  .menu-btn:hover img {
    transform: rotate(180deg); }
p,h2{
  margin-bottom: 1rem;
  line-height: 1.6rem;
}

.paragraph {
  margin-bottom: 20vh; }
  .paragraph h1 {
    margin-bottom: 1rem;
    color: #00a7b6; }
  @media screen and (min-width: 768px) {
    .paragraph {
      margin-left: 6.3rem; }
      .paragraph p {
        align-self: center;
        max-width: 800px;
        margin-top: 20px; } }

@media screen and (max-width: 768px) {
  section {
    margin-bottom: -200px !important; } }

section {
  position: relative;
  height: 100vh;
  width: 100%; }

.one {
  width: 80vw;
  height: 80vh;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.two {
  position: relative;
  overflow: hidden; }

.screen {
  position: absolute;
  width: 130px;
  height: 250px;
  transform: rotate(-37.73deg) scaleX(0.8312) scaleY(0.801) skewX(10.92deg) skewY(1deg) translate(90px, 120px); }
  @media screen and (min-width: 768px) {
    .screen {
      width: 300px;
      height: 570px;
      transform: rotate(-37.73deg) scaleX(0.8312) scaleY(0.801) skewX(11.32deg) skewY(1deg) translate(203px, 253px); } }

.slider {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity .5s ease-in; }
  .slider img {
    overflow: hidden;
    border-radius: 3px; }
  .slider .slide {
    transition: opacity .5s ease-in; }
    .slider .slide img + img {
      opacity: 0; }

.mockup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 400px; }
  @media screen and (min-width: 768px) {
    .mockup {
      width: 900px; } }
  .mockup img {
    overflow: hidden !important;
    width: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

.mockups {
  margin: 0;
  padding: 5vw; }

.css-mb {
  max-width: 1200px;
  /* Set the desired maximum width of the macbook */
  min-width: 50px;
  /* Set the desired minimum width of the macbook */
  margin: 0 auto;
  /* Align mockup to center */ }

.css-mb div {
  box-sizing: border-box !important;
  /* Just in case */ }

/* Center the display */
.css-mb .mb-display-position {
  width: 80%;
  margin: 0 auto; }

/* The display */
.css-mb .mb-display {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 65.9442%;
  background: #373435;
  -webkit-border-top-left-radius: 3.5% 5.3075%;
  -moz-border-radius-topleft: 3.5% 5.3075%;
  border-top-left-radius: 3.5% 5.3075%;
  -webkit-border-top-right-radius: 3.5% 5.3075%;
  -moz-border-radius-toptight: 3.5% 5.3075%;
  border-top-right-radius: 3.5% 5.3075%; }

/* Webcam */
/* Browser may not render a perfect circle */
.css-mb .mb-display:before {
  content: '';
  display: block;
  position: absolute;
  top: 3%;
  left: 50%;
  width: 1%;
  height: 1.5164%;
  margin-left: -0.5%;
  border-radius: 50%;
  background: #525252; }

/* Glare */
/* Browser may not render the top and right offset evenly */
.css-mb .mb-display:after {
  content: '';
  display: none;
  position: absolute;
  right: 0.4%;
  top: 0.64%;
  width: 62.5%;
  height: 100%;
  background: none;
  /* Hide the gradient on older browsers */
  background: -moz-linear-gradient(55deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, 0.05) 61%);
  /* FF3.6+ */
  background: -webkit-linear-gradient(36deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, 0.05) 61%);
  /* Chrome10+ and Safari5.1+ compute the degree differently */
  background: -o-linear-gradient(55deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, 0.05) 61%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(55deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, 0.05) 61%);
  /* IE10+ */
  background: linear-gradient(55deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, 0.05) 61%);
  -webkit-border-top-right-radius: 5.3075%;
  -moz-border-radius-toptight: 5.3075%;
  border-top-right-radius: 5.3075%; }

/* Only show glare, if the class is applied */
.css-mb.with-glare .mb-display:after {
  display: block; }

/* Position the screen and give make it the right size, ratio 16:10 */
.css-mb .mb-screen-position {
  position: absolute;
  top: 6.5%;
  width: 93.2%;
  left: 3.4%;
  height: 0;
  margin: 0;
  padding-bottom: 58.25%;
  /* Ratio */ }

/* Give parent (this element) a "height", so that child elements can use height: 100%;*/
.css-mb .mb-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  /* bg color if content is not big enough, or rendering is off */ }

/* Image on the screen */
.css-mb .mb-screen img {
  max-width: 100%;
  height: auto;
  position: absolute;
  transition: opacity .5s ease-in; }

.mb-screen {
  transition: opacity .5s ease-in; }
  .mb-screen img + img {
    opacity: 0; }

.slideD {
  transition: opacity .5s ease-in; }

/* Macbook body */
.css-mb .mb-body {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 2.3%;
  background: #e6e7e8; }

/* The groove */
.css-mb .mb-body:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 14.0740%;
  height: 0;
  padding-bottom: 1.4814%;
  margin-left: -7.037%;
  background: #a9abae;
  -webkit-border-bottom-left-radius: 7.0370% 50%;
  -moz-border-radius-bottomleft: 7.0370% 50%;
  border-bottom-left-radius: 7.0370% 50%;
  -webkit-border-bottom-right-radius: 7.0370% 50%;
  -moz-border-radius-bottomtight: 7.0370% 50%;
  border-bottom-right-radius: 7.0370% 50%; }

/* Macbook bottom */
.css-mb .mb-bottom-cover {
  width: 100%;
  height: 0;
  padding-bottom: 0.7407%;
  background: #a9abae;
  -webkit-border-bottom-left-radius: 12% 600%;
  -moz-border-radius-bottomleft: 12% 600%;
  border-bottom-left-radius: 12% 600%;
  -webkit-border-bottom-right-radius: 12% 600%;
  -moz-border-radius-bottomtight: 12% 600%;
  border-bottom-right-radius: 12% 600%; }

.btn {
  transition: all 0.5s ease-out;
  background-color: #fff;
  border: 2px solid #00a7b6;
  color: #00a7b6;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-self: center; }

.btn:hover {
  border: 2px solid #02cbdd;
  color: #02cbdd; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
  height: 60px;
  width: 100%; }
